<section class="dashboard">
    <div class="header">
        <h2>Dashboard</h2>
    </div>

    <div class="button-create">
        <a href="/thought-create">Criar Pensamento</a>
    </div>

    <div class="content">
        <div class="subtitle">
            <p>Seus pensamentos:</p>
        </div>

        <div class="thoughts-list">
            <p>PHP é melhor que NodeJS</p>

            <div class="buttons">
                <a href="">Editar</a>
                <a href="">Excluir</a>
            </div>
        </div>
    </div>
</section>