.dashboard {
    display: grid;
    grid-template-rows: 120px 120px;
    grid-template-columns: 880px;

    justify-content: space-around;
}

.dashboard .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

    padding: 32px 0;
}

.dashboard .header .title h2 {
    color: white;
    font-size: 32px;
    display: flex;
    flex-direction: center;
    gap: 16px;
}

.dashboard .header .title h2::before {
    content: "";
    height: 32px;
    width: 3px;
    background-color: #068fff;
    display: block;
}

.dashboard .header .button-create a {
    text-decoration: none;
    border: 2px solid #068fff;
    padding: 8px;
    color: #068fff;
}

.dashboard .header .button-create a:hover {
    background-color: #068fff;
    color: white;
}

.dashboard .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;
}

.dashboard .content .subtitle p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.dashboard .content .thougs-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .content .thougs-list p {
    color: #068fff; 
    font-weight: bold;
}

.dashboard .content .thougs-list .buttons {
    display: flex;
    gap: 16px;
}

.dashboard .content .thougs-list .buttons a {
    text-decoration: none;
    border: 2px solid #068fff;
    padding: 8px;
}

.dashboard .content .thougs-list .buttons a:hover {
    background-color: #068fff;
    color: white;
}