<div class="navbar">
    <div class="logo">
        <img src="../../public/css/assets/images/logo.svg" alt="">
    </div>
    <div class="menu">
        <ul>
            <li><a href="">Pensamentos</a></li>
            <li><a href="">Entrar</a></li>
            <li><a href="">Registrar</a></li>
        </ul>
    </div>
</div>